@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

button{
    cursor: pointer;
}

.m-l{margin-left: 150px;}
.m-r{margin-right: 150px;}

.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 2px solid #E1E1E1;
}

.header img{
    width: 110px;
}

.header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}
.header li {
    margin-left: 50px;
    font-size: 14px;
}

a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
    color: #000000;
}

.logo{
    width: 15%;
    order: 1;
    vertical-align: center;

}

.center-menu{
    order: 2;
    width: 70%;
}

.right-menu{
    order: 3;
    width: 25%;
}

.slide-bg{
    width: 100%;
    background-color: #f8f8f8;
    height: 600px;
    display: flex;
    position: relative;
}

.slide-bg-left {
    width: 50%;
}

.slide-bg-right{
    width: 50%;
    text-align: center;
    padding-top: 5%;
    margin-right: 50px;
}

.slide-bg-right h5{
    font-weight: 300;
    font-size: 18px;
}

.slide-bg-right h1{
    margin-top: -30px;
    margin-bottom: -10px;
    font-size: 55px;
    font-weight: 600;
}

.bg-girl{
    position: absolute;
    bottom: 0;
    left: 20px;
}

.blue-oval{
    position: absolute;
    top: 50px;
    left: 50px;
}

.yellow-oval{
    position: absolute;
    width: 260px;
    height: 260px;
    top: 40px;
    left: 590px;
}

.purple-oval {
    position: absolute;
    right: 0;
    top: 100px;
}

.btn{
    background-color: #0066FF;
    color: #ffffff;
    padding: 12px 25px 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 7px;
    border: 0;
}

.how-it-works{
    width: 100%;
    background-color: #f8f4ef;
    margin-top: -28px;
}

.how-it-works h1{
    padding-top: 100px;
    font-size: 40px;
    font-weight: 500;
}

.how-it-works h5{
    margin-top: -30px;
    font-weight: 400;
    font-size: 16px;
}

.services{
    display: flex;
    margin-top: 50px;
}
.s-box{
    width:25%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 28px;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

.no-m-l{
    margin-left:0 ;
}

.s-box h2{
    font-weight: 500;
    font-size: 20px;
}

.s-box p{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}

.s-box img{
    margin-top: 80px;
    margin-bottom: 45px;
    width: 70px;
}

.start-tutoring{
    width: 100%;
    display: flex;
    overflow: auto;
}

.start-tutoring .title{
    margin-top: 200px;
    width: 50%;
}

.photo-right{
    width: 50%;
    margin-top: 200px;
}

.photo-right img{
    position: absolute;
    right: 0;
}

.start-tutoring .title button{
    margin-bottom: 100px;
}

.s-t{
    border-radius: 4px;
}

.faqs{
    width: 100%;
    background-color: #f8f8f8;
    margin-top: -28px;
}

.faqs h1{
    font-weight: 500;
    font-size: 40px;
}

.title-faq-section{
    padding-top: 100px;
}

.div-title-faq{
    display: flex;
}
.faq-title{
    width: 95%;
}

h1.faq-title{
    font-size: 17px;
    font-weight: 400;
}

hr {
    border: solid 0.0001em #e7e7e7;
}

.triangle{
    margin: auto;
    width: 5%;
    color: white;
    width: 0px;
    height: 0px;
    border: 8px solid black;
    border-top-color: #0066FF;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.faq-title:hover, .triangle:hover{
    cursor: pointer;
}

.faq-text{
    display: none;
}

.faq.active .faq-text{
    display: block;
}

.more-faqs{
    margin-top: 40px;
    padding: 12px 55px 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #0066FF;
    border: solid 1px #0066FF;
    background-color: #f8f8f8;
    margin-bottom: 100px;
    cursor: pointer;
}

.div-more-faqs{
    display: none;
}

.div-more.faqs.active{
    display: block;
}

.ft-bg{
    background-color: #273343;
}

.footer-top{
    display: flex;
    padding-bottom: 70px;
}

.company{
    width: 22.5%;
    padding-top: 30px;
}

.tutor{
    width: 22.5%;
    padding-top: 30px;
}

.help {
    width: 22.5%;
    padding-top: 30px;
}

.follow-us{
    width: 25%;
    padding-top: 45px;
    padding-left: 550px;
}

.footer-top ul{
    list-style-type: none;
    padding: 0;
}

.footer-top h5 {
    color: #ffffff;
    font-size: 16px;
}

.footer-top li {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
}

.hashtag{
    font-weight: 200;
    font-size: 14px;
}

.follow-us h5{
    font-size: 15px;
}

i{
    color: #a9adb4;
    padding-right: 20px;
}

.icons{
    margin-bottom: 30px;
}

.fb-bg{
    background-color: #232e3c;
}

.footer-bottom{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-bottom span{
    color: #bdc0c4;
    font-size: 15px;
}

.copyright{
    width: 50%;
}

.made-in-usa{
    width: 50%;
    text-align: right;
}

.footer-button{
    width: 100%;
}

.wrapper{
    position: relative;
    display: inline-block;
}

.select-btn{
    cursor: pointer;
}

.content{
  position: absolute;
  margin-top: 10px;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 7px;
  display: none;
}

.content::after{
    content:'';
    position: absolute;
    top: 0;
    left: 15%;
    margin-left: -7px;
	margin-top:-7px;
    width: 0;
    z-index:1;
    height: 0;
    border-bottom: solid 7px #FFF;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent; 
}

.wrapper.active .content{
    display: block;
  }

.options{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.options li{
    margin-left: 0;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    cursor: pointer;
}

.select-btn i{
    padding: 3px;
    color: black;
}

.radio-button{
    left: 15px;
    position: absolute;
}